@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

/* .img-logo{
		position: absolute;
		right: 0px;
		top: 0px;
	}
	.img-logo img{
		width: 1200px;
	}
	.text-icon{
		width: 50px;
		transform: rotate(340deg);
	} */

* {
    box-sizing: border-box;
}

:root {
    --bg-color: #1d1d1d;
    --bg-nav-color: #181818;
    --bg-input-color: #2b2b2b;
    --nav-text-color: #909096;
    --tags-text-color: #515152;
    --logo-color: #fd2155;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

html::-webkit-scrollbar-track {
    border-radius: 20px;
}

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb {
    background-color: #7775;
    border-radius: 20px;
}

html::-webkit-scrollbar-thumb:hover {
    background-color: #777;
}

html::-webkit-scrollbar-track {
    background-color: var(--bg-nav-color);
}

html::-webkit-scrollbar-track:hover {
    background-color: var(--bg-input-color);
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

::selection {
    all: unset;
}

a,
a:hover {
    all: unset;
}


/* _________________________Start Sound__________________________*/

#sound {
    position: fixed;
    top: 20px;
    border-radius: 3px;
    padding: 5px;
    right: 20px;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.3);
}

#sound svg {
    height: 20px;
    margin-right: 5px;
}

#sound span {
    color: #fd1056;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    margin-left: 5px;
    pointer-events: auto;
    cursor: pointer;
    font-size: 0.9rem;
}


/* _________________________End Sound_____________________________ */


/* _________________________Start Side NavBar_____________________ */

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 60px;
    min-height: 100%;
    background-color: var(--bg-nav-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.dragon-glass {
    border-radius: 50%;
    width: 50px;
}

.profile-pic {
    border-radius: 50%;
    width: 400px;
}

.letterOne {
    color: rgb(255, 190, 70);
    position: absolute;
    left: 15px;
    transform: rotate(340deg);
}

.letterTwo {
    color: var(--logo-color);
    position: absolute;
    left: 20px;
    transform: rotate(340deg);
}

.icons {
    position: relative;
    top: 40vh;
}

.icons span {
    display: block;
    margin-top: 20px;
}

.material-icons {
    color: var(--nav-text-color);
    opacity: 0.5;
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.7s;
}

.material-icons:hover,
.material-icons:focus {
    color: rgb(255, 241, 148);
    opacity: 1;
}

.active {
    color: rgb(255, 190, 70);
    opacity: 1;
}


/* ____________________End Side NavBar______________________ */


/* _________________Start Main Section______________________ */

canvas {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#home {
    height: 100vh;
    border: 1px solid transparent;
}

.personal_info {
    margin-top: 100px;
    margin-left: 15px;
    color: #fff;
}

.personal_info h2 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    animation: fadeInLeft linear 3s;
}

.personal_info .letter_one {
    color: rgb(255, 190, 70);
}

.personal_info .letter_two {
    color: var(--logo-color);
    position: relative;
    left: -28px;
}

.personal_info .others {
    position: relative;
    left: -28px;
}

.name_div {
    margin-top: 130px;
}

.name {
    background: -webkit-linear-gradient(rgb(255, 232, 80), rgb(255, 194, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Btn {
    outline: none;
    background-color: transparent;
    border: 1px solid rgb(255, 190, 70);
    border-radius: 4px;
    color: rgb(255, 190, 70);
    padding: 5px 15px;
    margin-top: 35px;
    margin-right: 10px;
    box-shadow: 5px 5px 10px #000;
    animation: fadeInBottom linear 3s;
    position: relative;
    z-index: 1;
    width: 160px;
}

.Btn:hover {
    color: black;
    background-color: rgb(255, 232, 80);
}

.Btn a {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

#alpha1 {
    font-size: 750px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 190, 70);
    transform: rotate(336deg);
    position: absolute;
    right: 170px;
    top: -200px;
    animation: fade linear 1s;
}

#alpha2 {
    font-size: 750px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: var(--logo-color);
    transform: rotate(336deg);
    position: absolute;
    right: 115px;
    top: -225px;
    animation: fade linear 3s;
}

.social_icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.social_icons span {
    margin-right: 20px;
    font-size: 3rem;
    cursor: pointer;
    z-index: 1;
}

.social_icons .fab {
    color: var(--tags-text-color);
    transition: 0.4s;
}

.social_icons .fab:hover {
    color: rgb(255, 241, 148);
}

.tag {
    font-family: 'La Belle Aurore', cursive;
    font-size: 1.2rem;
    color: var(--tags-text-color);
    position: absolute;
}

.htmlTag {
    top: 25px;
    left: 80px;
}

.bodyTag {
    top: 50px;
    left: 100px;
}

.h1Tag {
    top: 150px;
}

.h1CloseTag {
    top: 350px;
}

.bodyCloseTag {
    top: 80vh;
    left: 100px;
}

.htmlCloseTag {
    top: 85vh;
    left: 80px;
}

@media screen and (max-width: 1200px) {
    #alpha1,
    #alpha2 {
        font-size: 590px;
    }
}

@media screen and (max-width: 1000px) {
    .alpha {
        display: none;
    }
    .personal_info h2 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 650px) {
    nav {
        display: none;
    }
    .personal_info {
        margin-inline: 0;
    }
    .personal_info h2 {
        font-size: 2.1rem;
    }
    .Btn--resume {
        display: block;
        margin: 0;
        margin-top: 10px;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translatey(50px);
    }
    100% {
        opacity: 1;
        transform: translatey(0);
    }
}


/* ____________________End Home Section ______________________*/


/* ___________________Start About Section____________________ */

#about {
    /* margin-top: 10px; */
    height: 50vh;
    display: flex;
    align-items: center;
}

.about {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.about__info {
    width: 50%;
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}

.about_scroll {
    opacity: 1;
    transform: scale(1);
}

.about__info h2 {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-transform: capitalize;
    background: -webkit-linear-gradient(rgb(255, 232, 80), rgb(255, 194, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    font-style: italic;
}

.about__info h2::before {
    content: '<h2>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: -28px;
    margin-left: -24px;
    text-transform: lowercase;
}

.about__info h2::after {
    content: '</h2>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
    text-transform: lowercase;
}

.about__info p {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding-top: 30px;
    line-height: 1.8;
}

.about__info p::before {
    content: '<p>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: -28px;
    margin-left: -24px;
}

.about__info p::after {
    content: '</p>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
}

.about__skills {
    width: 50%;
}

#tag {
    background-color: transparent;
}

@media screen and (max-width: 1000px) {
    #about {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .about {
        flex-direction: column;
    }
    .about__info {
        width: 85%;
    }
    .about__skills {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .about__info h2 {
        font-size: 2rem;
    }
}


/* ____________________End About Section _________________________*/


/* _______________________Start work section_____________________ */

#work {
    margin-bottom: 150px;
}

#work h2 {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-transform: capitalize;
    background: -webkit-linear-gradient(rgb(255, 232, 80), rgb(255, 194, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 20vh;
    margin-bottom: 30px;
    font-style: italic;
}

#work .work-text {
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

#work .work-text::before {
    content: '<p>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: -28px;
    margin-left: -24px;
}

#work .work-text::after {
    content: '</p>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
}

#work .work-text a {
    cursor: pointer;
    color: rgb(255, 190, 70);
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    #work .work-text {
        padding: 0 25px;
    }
    /* .cards {
        justify-content: center;
    } */
}

.card {
    border: none;
    margin-top: 50px;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 450px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        min-height: 350px;
    }
}

@media (max-width: 420px) {
    .card {
        min-height: 300px;
    }
}

.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card.card-has-bg:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(103, 85, 22, 1) 0%, rgba(238, 182, 17, 0.85) 100%);
}

.card .card-footer {
    background: none;
    border-top: none;
}

.card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
}

.card .card-meta {
    color: #000000;
}

.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.desc {
    visibility: hidden;
}

.card:hover .desc {
    visibility: visible;
    cursor: pointer;
    margin-top: 10px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #234f6d;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889355742297) 0%, rgba(69, 95, 113, 1) 100%);
}

@media screen and (max-width: 500px) {
    #work h2 {
        font-size: 2rem;
    }
}


/* _________________End work section____________________ */


/* ________________Start contact me_____________________ */

.contact {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.contact__info {
    width: 50%;
    margin-left: 100px;
    font-size: 1.2rem;
    overflow: hidden;
}

.contact__info h2 {
    font-size: 3.5rem;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 5px;
    text-transform: capitalize;
    background: -webkit-linear-gradient(rgb(255, 232, 80), rgb(255, 194, 11));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.contact__info h2::before {
    content: '<h2>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: -20px;
    margin-left: -24px;
    text-transform: lowercase;
}

.contact__info h2::after {
    content: '</h2>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.2rem;
    position: absolute;
    margin-top: 28px;
    margin-left: 24px;
    text-transform: lowercase;
}

#my-form::before {
    content: '<form>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.3rem;
    position: absolute;
    margin-top: -28px;
    margin-left: -24px;
    text-transform: lowercase;
}

#my-form::after {
    content: '</form>';
    font-family: 'La Belle Aurore', cursive;
    color: var(--tags-text-color);
    font-size: 1.3rem;
    display: block;
    position: absolute;
    margin-top: -100px;
    margin-left: -18px;
    text-transform: lowercase;
}

.contact__info input {
    width: 80%;
    border: none;
    outline: none;
    background-color: var(--bg-input-color);
    color: var(--nav-text-color);
    padding: 10px;
    height: 45px;
}

.label_name,
.label_msg {
    border-bottom: 2px solid rgb(255, 190, 70);
    width: 80%;
    margin-bottom: 25px;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.contact__info input:focus+.label_name {
    opacity: 1;
    transform: translateX(0%);
}

.contact__info textarea {
    width: 80%;
    height: 200px;
    background-color: var(--bg-input-color);
    color: var(--nav-text-color);
    border: none;
    resize: none;
    outline: none;
    padding: 15px;
}

.contact__info textarea:focus+.label_msg {
    opacity: 1;
    transform: translateX(0%);
}

.Btn--msg {
    margin-top: 0px;
    margin-left: 45%;
    margin-bottom: 30px;
    letter-spacing: 2px;
    width: 200px;
}

#map {
    width: 50%;
    height: 80vh;
    margin-bottom: 20px;
}

#status {
    position: relative;
    top: -60px;
    width: 200px;
    height: 65px;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    font-style: italic;
}

.success {
    background-color: rgb(255, 190, 70);
    color: #000;
    animation: status 4s ease forwards;
}

.error {
    background-color: var(--logo-color);
    color: #fff;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }
    90% {
        opacity: 1;
        pointer-events: all;
    }
    100% {
        opacity: 0;
        pointer-events: none;
    }
}


/* Responsive */

@media screen and (max-width: 1000px) {
    .contact {
        flex-direction: column;
        margin: 50px;
    }
    .contact__info {
        width: 100%;
    }
    #map {
        width: 85%;
        max-height: 80vh;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px) {
    .contact {
        margin: 0;
    }
    .contact__info h2 {
        font-size: 2rem;
    }
    .contact__info .sm_input {
        width: 80%;
    }
    .Btn--msg {
        margin-left: 20%;
    }
}


/* __________________End contact me____________________ */


/* Popup width is defined in JS using options */

.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--bg-input-color);
    color: rgb(255, 190, 70);
    border-radius: 5px;
    padding-right: 0.6rem;
    cursor: pointer;
}

.leaflet-popup .leaflet-popup-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
}